<%= render 'shared/navbar' %>
<%= "Your Subjects for term " + @term.term_number.to_s + " of " + @term.academic_year.name + " Acadamic year" %>

<div class="container-fluid" >
    <% @subjects.each do |subject| %>
        <%= subject.subject.name  %> <%= "form " +subject.form.name  %><%= "\t\tStudents enrolled"%>
        <%= link_to "\t\tAssessments", subject_assign_scores_to_student_path(subject_id:subject.subject.id , form:subject.form.id ) %>

    <% end %>
</div>
