<%= render 'shared/navbar' %>

<div class="container-fluid" >
<%= " You have the following unsettled mandatory assessments" %>
        <% @assessment_types.each do |assessment_type| %>
                <%= assessment_type.name %>
        <% end %>

<%= " select subject to add assessment" %>
    <div class="row" >
        <% @subjects.each do |subject| %>
            <%= subject.subject.name  %> <%= "form " + subject.form.name.to_s  %><%= "\t\tStudents enrolled"%>
            <%= link_to "\t\tAssessments", subject_assign_scores_to_student_path(subject_id:subject.subject.id , form:subject.form.id,assessment: 'mandatory') %>

        <% end %>
    </div>
 </div>


