<div class="modal fade" id="newMandatoryAssessmentModal" tabindex="-1" aria-labelledby="newMandatoryAssessment" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Create New assessment</h5>

        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>

      <%= form_with  url: mandatory_assessment_path do |form| %>

        <div class="modal-body">
          <%= form.label :query, "Assessment name:" %>
          <%= form.text_field :assessment, class: "form-control form-control-sm", :required => true %>
          <div class="row">
            <%= form.label :query, "Tick if assessment is End of term"%>
            <%= form.check_box :end_of_term  %>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
           <%= form.submit "Add", class: "btn btn-primary" %>
        </div>
      <% end %>
    </div>
  </div>
</div>
