<%= render "shared/navbar" %>

<%= form_with model: @term  do |form| %>
  <div class= "container d-flex">
    <%= form.text_field :term_number %>
     <%= form.collection_select :academic_year_id, AcademicYear.all, :id, :name %>
    <%= form.date_field :start_date %>
    <%= form.date_field :end_date%>

    <%= form.button :submit  %>
  </div>
<% end %>

