<%= render "shared/staff/side_nav" %>
<div class="wrapper d-flex flex-column min-vh-100 bg-light">
    <%= render "shared/staff/header" %>
    <%= render "shared/alerts" %>
    <div class="body flex-grow-1 px-3">
        <%= render "shared/staff/dashboard" %>
    </div>
    <%= render "shared/staff/footer" %>
</div>
<!--  Modals -->
<%= render "shared/modals/guardian_type" %>
<%= render "shared/modals/new_subject" %>
<%= render "shared/modals/new_mandatory_assessment" %>
