<!DOCTYPE html>
<html>
  <head>
    <title>SchoolMngtInfo</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
    <%= javascript_include_tag "customjs" %>
  </head>

  <body>
     <% flash.each do |type, msg| %>
      <% if type == 'notice' %>
        <div class="alert alert-info">
          <%= msg %>
        </div>
      <% elsif type == 'alert' %>
        <div class="alert alert-warning">
            <%= msg %>
        </div>
      <% elsif type == 'error' %>
        <div class="alert alert-danger">
            <%= msg %>
        </div>
      <% end %>
    <% end %>
    <%= yield %>

  </body>
</html>
